.auth-btn{
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #31AE54;
  color: #fff;
  border: none;
  border-radius: 5px;
  width: 270px;
  font-size: 16px;
  cursor: pointer;
  &__text{
    font-weight: bold;
  }
}