.description{
  border: solid 1px #F1F1F1;
  border-radius: 8px;
  padding: 17px 23px 22px 23px;
  box-shadow: 0 8px 21px -19px rgb(0 0 0 / 20%);
  margin-bottom: 20px;
}

.appDescription{
  margin-bottom: 30px;
}

.appName{
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 11px;
}

.date{
  line-height: 1;
  margin-bottom: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.4);
}