.loading{
  &-icon{
    width: 50px;
    animation: circle 1s infinite;
  }
  &-window{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    &.green{
      color: #31AE54;
    }
  }
}

@keyframes circle {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}