.wrapper{
  display: flex;
  align-items: center;
  @include big-tablets{
    flex-direction: column;
  }
}

.auth{
  &__phone{
    display: none;
    @include phones{
      display: block;
      margin-top: 30px;
    }
  }
  &__comp{
    @include big-tablets{
      display: none;
    }
  }
  &__tablet{
    display: none;
    @include big-tablets {
      display: block;
    }
    @include phones{
      display: none;
    }
  }
  &__content{
    display: flex;
    flex: 1;
    align-items: center;
  }
  &__logo{
    width: 200px;
    margin-bottom: 24px;
  }
  &__desc{
    color: #6f6f6f;
    font-size: 18px;
    line-height: 1.42;
    max-width: 250px;
    margin-bottom: 54px;
  }
}

.right__column{
  right: 0;
  position: absolute;
  @include big-tablets{
    bottom: 0;
    right: auto;
  }
}

.left__column{
  margin-left: 100px;
  @include big-tablets{
    margin-left: 0;
    margin-top: 150px;
  }
  @include phones {
    margin-top: 50px;
  }
}