.stories-list{
  display: flex;
  justify-content: space-between;
}

.logo{
  width: 174px;
}

.icon{
  width: 24px;
}

.image{
  width: 37px;
}

.header{
  justify-content: space-between;
  display: flex;
}

.navigation-menu{
  align-items: center;
  justify-self: flex-end;
  display: flex;
}

.navigation-menu__item{
  margin-right: 4px;
}

.navigation-menu__item:last-child{
  margin-right: 0;
}