.stories-list{
  white-space: nowrap;
}

.stories-list::-webkit-scrollbar{
  display: none;
}

.stories-item{
  display: inline-block;
}

.logo{
  width: 174px;
}

.header{
  justify-content: space-between;
  display: flex;
}
